.loginLogTitle{
    font-size: 50px;
    color: rgb(43 73 23);
    text-shadow: 
    2px 2px 18px rgb(230, 233, 212),  
    -2px -2px 18px rgb(230, 233, 212), 
    2px -2px 18px rgb(230, 233, 212),  
    -2px 2px 18px rgb(230, 233, 212);
    }
    
    .labelLogStyle{
        font-size: 30px;
        color: rgb(230, 233, 212);
        text-shadow: 
        2px 2px 8px  rgb(28, 49, 13),  
        -2px -2px 8px  rgb(28, 49, 13), 
        2px -2px 8px  rgb(28, 49, 13),  
        -2px 2px 8px  rgb(28, 49, 13); /* Sombra del texto */
    }
    
    .inputLogStyle{
        text-align: center;
        font-size: 20px;
        margin: 15px;
        background-color: #a27154;
        color: rgb(219 223 190);
        padding: 2px 6px;
        border-radius: 75px;
        border-style: solid;
        border-color: rgb(219 223 190);
        border-width: 2px;
    }
    
    .inputLogStyle:hover{
        background-color: rgb(219 223 190);
        color: rgb(43 73 23);
        border-style: solid;
        border-color: rgb(28, 49, 13);
        border-width: 2px;
    }
    
    .inputLogStyle::placeholder{
    font-size: 17px;
    color: rgb(219 223 190);
    }
    
    .btnAddLogStyle{
        font-size: 15px;
        margin: 15px;
        padding: 8px 15px;
        border-radius: 75px;
        background-color: rgb(43 73 23);
        color: rgb(230, 233, 212);
        border-style: solid;
    border-color: rgb(219 223 190);
    border-width: 2px;
    }
    
    .btnAddLogStyle:hover{
        background-color:rgb(201, 243, 173);
        color: rgb(43 73 23);
        border-color: rgb(43 73 23);
    }

    .LoginToDoContainer{
        background-color:  rgba(103, 176, 152, 0.6);
        width: 350px;
        position: relative;
        left: 100px;
        bottom: 16px;
        padding: 1px 0px;
        margin-top: 40px;
        border-radius: 5%;
        border-style: solid;
        border-color: rgb(160, 81, 35);
        border-width: 5px;
        height: 430px;
      }

      .mi-popup{
        background-color: rgba(103, 176, 152, 0.9);  /* Fondo de la ventana */
        border-radius: 10px;        /* Bordes redondeados */
        padding: 20px;              /* Espaciado interno */
          }
        
          .mi-titulo{
        color: bisque;
          }