.LogRegContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
body{
    background-image: url(../img/BackgroundAppToDoCut.jpg); /* Imagen de fondo */
    background-repeat: no-repeat; /* No se repite la imagen */
    background-size: cover; /* La imagen cubre todo el contenedor */
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
       
}