.TaskMakerContainer{
    background-color: rgba(103, 176, 152, 0.4);
    padding: 15px;
    border-radius: 35px;
    border-style: solid;
    border-color: rgb(160, 81, 35);
    border-width: 3px;
    font-size: 30px;
    justify-self: center;
}

.MakerTitle{
    font-size: 35px;
    font-weight: bold;
    color: rgb(230, 233, 212);
    text-shadow: 
    2px 2px 18px  rgb(28, 49, 13),  
    -2px -2px 18px  rgb(28, 49, 13), 
    2px -2px 18px  rgb(28, 49, 13),  
    -2px 2px 18px  rgb(28, 49, 13);
}

.MakerInputStyle{
    text-align: center;
        font-size: 20px;
        margin: 15px;
        background-color: rgb(160, 81, 35);
        color: rgb(219 223 190);
        padding: 4px 6px;
        border-radius: 75px;
        border-style: solid;
        border-color: rgb(219 223 190);
        border-width: 2px;
}

.MakerInputStyle:hover{
    background-color: rgb(219 223 190);
    color: rgb(43 73 23);
    border-style: solid;
    border-color: rgb(28, 49, 13);
    border-width: 2px;
}

.MakerInputStyle::placeholder{
    font-size: 17px;
    color: rgb(219 223 190);
}

.BtnMaker{
    font-size: 15px;
    margin: 15px;
    padding: 6px 15px;
    border-radius: 75px;
    background-color: rgb(43 73 23);
    color: rgb(230, 233, 212);
    border-style: solid;
    border-color: rgb(219 223 190);
    border-width: 2px;
}

.BtnMaker:hover{
    background-color:rgb(201, 243, 173);
    color: rgb(43 73 23);
    border-color: rgb(43 73 23);
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
       
}