/* Estilos para el contenedor de tareas */
.TaskItemContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow-x: hidden;
  overflow-y: scroll;
  height: 320px;
  scrollbar-width: thin; 
  scrollbar-color: #a27154 rgb(58, 58, 58, 0.6);
}

/* Estilo para cada tarea */
.TaskItem {
  align-items: center;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 280px;
  height: 170px;
  background-color: rgba(210, 144, 119, 0.6);
  color: rgb(230 230 222);
  text-shadow: 
  2px 2px 8px  rgb(28, 49, 13),  
  -2px -2px 8px  rgb(28, 49, 13), 
  2px -2px 8px  rgb(28, 49, 13),  
  -2px 2px 8px  rgb(28, 49, 13);
  border-style: solid;
  border-width: 2px;
  border-color:#754326;
}

/* Estilo para el checkbox */
.ItemCheckBox{
  cursor: pointer;
  background-color:rgb(245, 65, 104);
  width: 18px;
  height: 18px;
  appearance: none;
  border-color: rgb(28, 49, 13);
  border-style: solid;
  border-radius: 75px;
  position: relative;
  bottom: 25px;
}

.ItemCheckBox:checked {
  background-color: rgb(167, 254, 108);
 }

.TaskName{
  position: relative;
  bottom: 30px;
}

.TaskName.pendiente {
  color: rgb(245, 65, 104);
  text-shadow: 
  2px 2px 8px  rgb(28, 49, 13),  
  -2px -2px 8px  rgb(28, 49, 13), 
  2px -2px 8px  rgb(28, 49, 13),  
  -2px 2px 8px  rgb(28, 49, 13);
  font-weight: bold;
}

.TaskName.completa {
  color: rgb(167, 254, 108);
  text-shadow: 
      2px 2px 8px  rgb(28, 49, 13),  
      -2px -2px 8px  rgb(28, 49, 13), 
      2px -2px 8px  rgb(28, 49, 13),  
      -2px 2px 8px  rgb(28, 49, 13);
  font-weight: bold;
}

/* Estilo para los botones */
.TaskItem button {
  position: relative;
  bottom: 10px;
  padding: 5px 10px;
  background-color: rgb(43 73 23);
  color: rgb(230 230 222);
  border-radius: 5px;
  border-style: solid;
  border-color: #a27154;
  cursor: pointer;
  margin: 5px;
  height: 40px;
  width: 40px;
}

.TaskItem button:hover {
  background-color: rgb(201, 243, 173);
  border-color: rgb(160, 81, 35);
  color: rgb(43 73 23);
}

.TaskTitle{
  color:  rgb(219 223 190);
  font-size: 25px;
}

.MakerIcons{
  position: relative;
  right: 2px;
  width: 24px;
  height: 24px;
}

.NoTaskStyle{
  font-size: 30px;
      color: rgb(230, 233, 212);
      text-shadow: 
      2px 2px 8px  rgb(28, 49, 13),  
      -2px -2px 8px  rgb(28, 49, 13), 
      2px -2px 8px  rgb(28, 49, 13),  
      -2px 2px 8px  rgb(28, 49, 13);
}


/* Estilos personalizados para SweetAlert */
.custom-popup {
background-color: rgba(103, 176, 152, 0.9);  /* Fondo de la ventana */
border-radius: 10px;        /* Bordes redondeados */
padding: 20px;              /* Espaciado interno */
}

.custom-title {
font-size: 50px;
color: rgb(185, 127, 95);
text-shadow: 
2px 2px 18px  rgb(28, 49, 13),  
-2px -2px 18px  rgb(28, 49, 13), 
2px -2px 18px  rgb(28, 49, 13),  
-2px 2px 18px  rgb(28, 49, 13); 
}

.custom-input {
background-color: #ffffff; /* Fondo del input */
border: 2px solid #2B4917;  /* Borde del input */
padding: 10px;              /* Espaciado interno */
font-size: 16px;            /* Tamaño de la fuente */
border-radius: 35px;         /* Bordes redondeados */
color: #2B4917;

}

.custom-confirm-button {
background-color:  rgb(43 73 23);  /* Color de fondo del botón confirmar */
color:rgb(28, 49, 13);               /* Color del texto */
border: none;               /* Sin borde */
padding: 10px 20px;         /* Espaciado interno */
border-radius: 5px;         /* Bordes redondeados */
font-size: 16px;            /* Tamaño de la fuente */
cursor: pointer;           /* Cursor de puntero */
text-shadow: 
2px 2px 8px rgb(230, 233, 212),  
-2px -2px 8px rgb(230, 233, 212), 
2px -2px 8px rgb(230, 233, 212),  
-2px 2px 8px rgb(230, 233, 212);
font-weight: bold;
}

.custom-cancel-button {
background-color:  rgb(160, 81, 35);  /* Color de fondo del botón cancelar */
color: rgb(28, 49, 13);               /* Color del texto */
border: none;               /* Sin borde */
padding: 10px 20px;         /* Espaciado interno */
border-radius: 5px;         /* Bordes redondeados */
font-size: 16px;            /* Tamaño de la fuente */
cursor: pointer;           /* Cursor de puntero */
text-shadow: 
2px 2px 8px rgb(230, 233, 212),  
-2px -2px 8px rgb(230, 233, 212), 
2px -2px 8px rgb(230, 233, 212),  
-2px 2px 8px rgb(230, 233, 212);
font-weight: bold;
}

.custom-confirm-button:hover,
.custom-cancel-button:hover {
opacity: 0.8;               /* Efecto de opacidad al pasar el ratón */
}

